/* Шрифты */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.woff2') format('woff2'),
        url('fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Первичное */

html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: Roboto, Helvetica, Arial;
}
#wrapper {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
.container {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 960px;
	min-width: 320px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Атомарные классы */

.bimg, .bimg img {
	display: block;
	width: 100%;
}
.gradient {
	background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(50, 29, 94, 0.85));
	height: inherit;
}
.btn {
	color: #00e0d0;
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
	border: 1px solid #00e0d0;
	border-radius: 2px;
	padding: 10px 15px;
	display: inline-block;
	background: transparent;
	cursor: pointer;
	transition: 0.3s;
	min-width: 90px;
	text-align: center;
}
.btn:hover {
	background: #00e0d0;
	color: #fff;
}
.block {
	padding-top: 60px;
	padding-bottom: 70px;
}
h1, h2, h3 {
	color: #413d4b;
	font-family: 'Playfair Display';
	margin-top: 0;
}
h2 {
	font-size: 1.4em;
}
.gradient h1, .gradient h2, .gradient h3 {
	color: #fff;
}
p {
	color: #817f86;
	font-size: 0.9em;
	line-height: 23px;
	letter-spacing: 0.02em;
}
.gradient p {
	color: #ebeaed;
}
.title_area {
	text-align: center;
	margin-bottom: 45px;
}
.title_area .descr::after {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background: #ccc;
	margin: 0 auto;
	margin-top: 20px;
}
.gradient .title_area .descr::after {
	background: #655c80;
}
.title_area h2 {
	margin-bottom: 5px;
}
.title_area .descr {
	font-family: 'Playfair Display';
	color: #8e8d90;
}
.gradient .title_area .descr {
	color: #fff;
}
.field {
	width: 100%;
	display: block;
	border: 1px solid #e5e5e5;
	padding: 12px 20px;
	box-sizing: border-box;
	margin-bottom: 23px;
	font-family: Roboto;
	font-size: 0.9em;
}
input[type="submit"][disabled] {
	cursor: default;
	opacity: 0.5;
}
.zoom {
	overflow: hidden;
	display: block;
}
.zoom > img {
	transition: .3s;
}
.zoom > img:hover {
	transform: scale(1.1);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.overlay .popup {
	background: #fff;
	padding: 15px;
	position: relative;
	max-width: 600px;
}
.overlay .popup .close {
    position: absolute;
    top: -40px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.overlay .popup .close::before, .overlay .popup .close::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
}
.overlay .popup .close::before {
    transform: rotate(45deg);
}
.overlay .popup .close::after {
    transform: rotate(-45deg);
}

/* Основное */

header {
	background: url(images/back/1.jpg) no-repeat center top;
	height: 670px;
}
header .container {
	display: flex;
	flex-direction: column;
	height: inherit;
}
header .row.c1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
}
header .row.c1 nav ul {
	padding: 0;
	margin: 0;
}
header .row.c1 nav li {
	list-style: none;
}
header .row.c1 nav > ul {
	display: flex;
}
header .row.c1 nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: Roboto;
	font-weight: bold;
	margin: 5px 14px;
	font-size: 0.8em;
}
header .row.c1 nav a:hover {
	color: #00e0d0;
	transition: 0.3s;
}
header .row.c1 nav li:last-child a {
	margin-right: 0;
}
header .row.c2 {
	flex: 1 1 auto;
}
header #promoSlider h1:after {
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	background: #00e0d0;
	margin: 20px auto 30px;
}
header #promoSlider .btn {
	margin-top: 20px;
}
header #promoSlider.row.c2 {
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 85px;
}
header #promoSlider.row.c2 .item {
	padding-left: 80px;
	padding-right: 80px;
}
header #promoSlider.row.c2 .slick-dots li button::before {
	content: '';
	border-radius: 50%;
	width: 8px;
	height: 8px;
	border: 1px solid #fff;
}
header #promoSlider.row.c2 .slick-dots li.slick-active button::before {
	background-color: #00e0d0;
	border-color: #00e0d0;
}
header #promoSlider.row.c2 .slick-dots li {
	width: 5px;
}
header #promoSlider.row.c2 .slick-dots li button::before {
	 opacity: 1; 
}

#about .container {
	display: grid;
	grid-template-columns: 5fr 7fr;
	gap: 20px;
}
#about .col.c1 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 10px;
}
#about .btn {
	margin-top: 15px;
}

#video {
	background: url(images/back/2.jpg) no-repeat center top;
	height: 550px;
}
#video .gradient {
	display: flex;
}
#video .watch {
	margin: auto;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
	letter-spacing: 0.05em;
}
#video .watch::before {
	content: '';
	display: block;
	background: url(images/sprite.png) no-repeat -150px 0;
	width: 100px;
	height: 100px;
	margin: 0 auto 30px;
}
#video .watch:hover {
	color: #00e0d0;
}

#expertise .wrap {
	display: grid;
	grid-template-columns: repeat(3, 3fr);	
	text-align: center;
}
#expertise .item {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #ebebeb;
}
#expertise .item:nth-child(3n) {
	border-right: none;
}
#expertise .item:nth-child(n+4) {
	border-bottom: none;
}
#expertise .item::before {
	content: '';
	display: block;
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: 30px auto;
}
#expertise .title {
	color: #413d4b;
	font-weight: bold;
}
#expertise .item.c2::before { background-position: -50px 0; }
#expertise .item.c3::before { background-position: -100px 0; }
#expertise .item.c4::before { background-position: 0px -50px; }
#expertise .item.c5::before { background-position: -50px -50px; }
#expertise .item.c6::before { background-position: -100px -50px; }

#team {
	background: url(images/back/3.jpg) no-repeat center top;
	color: #fff;
	text-align: center;
}
#team .wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
#team .item {
	border: 1px solid #7c7891;
	max-width: 220px;
}
#team .preview {
	border-bottom: 1px solid #7c7891;
}
#team .name {
	font-size: 0.9em;
	font-weight: bold;
	margin: 20px 0 5px;
}
#team .status {
	font-size: 0.8em;
	margin: 5px 0 20px;
	color: #c3c1c9;
}
#team .after_descr {
	margin-top: 65px;
}
#team .descr {
	margin-bottom: 25px;
}

#works .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}
#works .dribbble_more {
	position: relative;
	padding-right: 16px;
	color: #413d4b;
	text-decoration: none;
	font-size: 0.95em;
	letter-spacing: 0.01em;
}
#works .dribbble_more::after {
	content: '';
	display: block;
	background: url(images/sprite.png) no-repeat -250px -61px;
	width: 8px;
	height: 13px;
	position: absolute;
	top: calc(50% - 7px);
	right: 0;
}
#works .dribbble_more:hover {
	text-decoration: underline;
}
#works .inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
#works .item {
	position: relative;
}
#works .inner .preview {
	filter: grayscale(100%);
}
#works .inner .item:hover .preview {
	filter: grayscale(0);
}
#works .wrap_btn {
	margin-top: 70px;
	display: flex;
	justify-content: center;
}
#works .item:hover .descr {
	display: block;
}
#works .descr {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	background: rgba(0,0,0,0.4);
	right: 0;
	color: #fff;
}

#peopleSlider {
	padding-top: 70px;
	position: relative;
	color: #fff;
	text-align: center;
}
#peopleSlider::before {
	content: '';
	display: block;
	background: url(images/sprite.png) no-repeat -210px -100px;
	width: 32px;
	height: 26px;
	position: absolute;
	top: 10px;
	left: calc(50% - 16px);
}
#people .gradient.block {
	height: 500px;
	box-sizing: border-box;
}
#peopleSlider .slide_area {
	max-width: 780px;
	margin: 0 auto 50px;
}
#peopleSlider .slide_area .slide .message {
	font-family: 'Playfair Display';
	line-height: 26px;
	height: 105px;
	overflow: hidden;
}
#peopleSlider .slide_area .slide .who_say {
	margin-top: 45px;
}
#peopleSlider .slide_area .slide .who_say .name {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 0.9em;
}
#peopleSlider .slide_area .slide .who_say .status {
	font-size: 0.8em;
}
#peopleSlider .photo_wrap {
	height: 70px;
	box-sizing: border-box;
	display: flex;
	padding: 0 7px;
}
#peopleSlider .photo {
	width: 45px;
	border-radius: 50%;
	transition: .3s;
	margin: auto;
}
#peopleSlider .slick-current .photo {
	/*width: 70px !important;*/
}
#peopleSlider .photo_wrap.slick-current  {
	/*width: 84px !important;*/
}
#peopleSlider .people_area {
	max-width: 320px;
	margin: 0 auto;
}

#peopleSlider .slick-arrow::before {
	content: '';
	display: block;
	width: 11px;
	height: 21px;
	background: url(images/sprite.png) no-repeat;
	background-position: -250px -74px;
}

#peopleSlider .slick-next::before {
	transform: rotate(180deg);
}

#people {
	background: url(images/back/4.jpg) no-repeat center top;
}

#contact .container {
	display: grid;
	grid-template-columns: 6fr 5fr;
	grid-gap: 100px;
}
#contact #feedback {
	margin-top: 30px;
}
#contact .col.c2 .inner {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
#contact .col.c2 .item {
	margin-bottom: 25px;
}

footer {
	background: url(images/back/5.jpg) no-repeat center top;
	color: #fff;
}
footer .row.c1 {
	display: grid;
	grid-template-columns: repeat(3, 4fr);
	gap: 35px;
	margin-bottom: 45px;
}
footer .row.c1 h4 {
	margin: 20px 0 30px 0;
}
footer .reference a {
	color: #fff;
	text-decoration: none;
	font-size: 0.85em;
	margin-right: 30px;
	font-weight: bold;
	transition: 0.3s;
}
footer .reference a:hover {
	text-decoration: underline;
}
footer .ico {
	position: relative;
	padding-left: 30px;
}
footer .ico::before {
	content: '';
	display: block;
	background: url(images/sprite.png) no-repeat -250px -25px;
	width: 14px;
	height: 19px;
	position: absolute;
	top: 0;
	left: 0;
}
footer .phone::before {
	background-position: -250px -44px;
	width: 17px;
	height: 17px;
}
footer .subscribe {
	margin-bottom: 25px;
	display: flex;
}
footer .subscribe .field {
	background: transparent;
	border: 1px solid #9e97b0;
	color: #fff;
	max-width: 210px;
	margin: 0 10px 0 0;
}
/*footer .subscribe .field {
	
	padding: 10px;
	
	margin-right: 10px;
	flex: 1 1 auto;
	
}*/
footer .wrap_submit {
	position: relative;
	cursor: pointer;
}
footer .wrap_submit::before {
	content: '';
	display: block;
	background: url(images/sprite.png) no-repeat -250px 0;
	width: 26px;
	height: 25px;
	position: absolute;
	top: calc(50% - 12px);
	left: 50%;
	transform: translate(-50%, 0);
}
footer .subscribe .send {
	background: rgba(255,255,255,0.5);
	border: 0;
	padding: 11px 25px;
	cursor: pointer;
	height: 100%;
	width: 70px;
}
footer .socnet {
	display: flex;
}
footer .socnet a {
	display: block;
	width: 35px;
	height: 35px;
	margin-right: 8px;
	background-image: url(images/sprite.png);
}
footer .socnet a.fb { background-position: 0 -100px; }
footer .socnet a.twitter { background-position: -35px -100px; }
footer .socnet a.dribbble { background-position: -70px -100px; }
footer .socnet a.instagram { background-position: -105px -100px; }
footer .socnet a.google_plus { background-position: -140px -100px; }
footer .socnet a.youtube { background-position: -175px -100px; }
footer .socnet a:last-child {
	margin-right: 0;
}
footer .row.c2 {
	display: flex;
	justify-content: space-between;
}
footer .copyright {
	font-size: 0.9em;
	letter-spacing: 0.01em;
}
footer .row.c2 .author {
	color: #fff;
	text-decoration: navajowhite;
}
footer .row.c2 .author:hover {
	text-decoration: underline;
}

/* Адаптив */

@media all and (min-width: calc(960px + 31px)) {
	.nob {
		display: none;
	}
	
}
@media all and (max-width: calc(960px + 30px)) {
	.container:not(.cpn) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.nom {
		display: none;
	}

}